#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d > #backgroundBox {
  position: absolute;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Dynamic_Panel {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_1 {
  width: 359.99999662840446px;
  height: 592.1443718266496px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_9 .imageViewport > * {
  width: 121.19867174999726%;
  height: 100.0%;
  left: -8.252028809370572%;
  top: -0.0%;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_9 {
  position: absolute;
  width: 108.91208465071801px;
  height: 100.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_10 {
  position: absolute;
  width: 108.42319576193364px;
  height: 107.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_11 .imageViewport > * {
  width: 154.32184589283665%;
  height: 129.29999703858138%;
  left: -21.6659272095412%;
  top: 1.1777918603572292E-13%;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_11 {
  position: absolute;
  width: 98.38064232626265px;
  height: 98.52540618436137px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_12 .imageViewport > * {
  width: 131.66042395616535%;
  height: 137.26403127119994%;
  left: -16.84667164112359%;
  top: -0.0%;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_12 {
  position: absolute;
  width: 107.79184146101707px;
  height: 106.05081236872195px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_3 {
  position: absolute;
  width: 232.71110776490613px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_6 {
  position: absolute;
  width: 232.71110776490795px;
  min-height: 32.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_10 span {
  color: #FD0101;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FD0101;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_11 span {
  color: #FD0101;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FD0101;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_12 span {
  color: #FD0101;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FD0101;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_13 span {
  color: #FD0101;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_13 span#rtr-s-Text_13_0 {
  color: #FD0101;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_2 {
  width: 359.99999662840446px;
  height: 592.1443718266496px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_22 {
  position: absolute;
  width: 172.9999983142038px;
  min-height: 28.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_22 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_23 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_23 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_33 {
  position: absolute;
  width: 338.3111077424301px;
  min-height: 43.000000000000284px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_33 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_34 {
  position: absolute;
  width: 338.3111077424301px;
  min-height: 43.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_34 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_35 {
  position: absolute;
  width: 338.3111077424301px;
  min-height: 51.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_35 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_3 {
  width: 359.99999662840446px;
  height: 592.1443718266496px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_15 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_15 span#rtr-s-Text_15_0 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_13 .imageViewport > * {
  width: 100.0%;
  height: 128.29879454746745%;
  left: -0.0%;
  top: -0.0%;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_13 {
  position: absolute;
  width: 93.15049860789588px;
  height: 60.290651222896315px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_14 {
  position: absolute;
  width: 84.37204340794096px;
  height: 81.56273022811172px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_15 {
  position: absolute;
  width: 82.8591874863726px;
  height: 81.50780571355392px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_16 {
  position: absolute;
  width: 96.70433678068355px;
  height: 95.58132448606875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_17 {
  position: absolute;
  width: 84.37204340794062px;
  height: 72.22784816952412px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_18 {
  position: absolute;
  width: 99.4822927183593px;
  height: 72.22784816952412px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Softkeys-bg {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Softkeys-bg > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Softkeys-bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Square {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Circle {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Triangle {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_25 {
  position: absolute;
  width: 359.99999999999864px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_25 > .backgroundLayer > .colorLayer {
  background-color: #8FBD7B;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_25 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_25 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_25 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Bg_status_6 {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt200',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Bg_status_6 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Bg_status_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Bg_status_6 .valign {
  vertical-align: middle;
  text-align: right;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Bg_status_6 span {
  color: #8FBD7B;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt200',Arial;
  font-size: 10.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Bg_status_6 span#rtr-s-Bg_status_6_0 {
  color: #8FBD7B;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt200',Arial;
  font-size: 10.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-hour_5 {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt200',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-hour_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-hour_5 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-hour_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt200',Arial;
  font-size: 9.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-hour_5 span#rtr-s-hour_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt200',Arial;
  font-size: 9.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-signals_5 {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_45 .imageViewport > * {
  width: 107.86621949442123%;
  height: 365.9353454800163%;
  left: -7.866219494420598%;
  top: -112.76660967358127%;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_45 {
  position: absolute;
  width: 239.16951840329534px;
  height: 45.64526028608434px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_26 {
  position: absolute;
  width: 25.5px;
  min-height: 23.956521739130437px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_26 > .backgroundLayer > .colorLayer {
  background-color: #8FBD7B;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_26 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_26 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-menu_5 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Black-cover {
  position: absolute;
  width: 22.22222222222222%;
  min-height: 100.0%;
  opacity: 0.24;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Black-cover > .backgroundLayer > .colorLayer {
  background-color: #303030;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Black-cover .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Black-cover .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Black-cover span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Black-cover span#rtr-s-Black-cover_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_4 {
  width: 280.9999999999991px;
  height: 639.9999999999998px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Panel_4 .verticalalign {
  vertical-align: top;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_7 {
  position: absolute;
  width: 279.0px;
  height: 639.9999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Image_35 {
  position: absolute;
  width: 124.36816406250023px;
  height: 109.6125058355365px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_36 {
  position: absolute;
  width: 279.00000000000045px;
  min-height: 33.00000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_36 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_37 {
  position: absolute;
  width: 86.71874999999955px;
  min-height: 33.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_37 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_2 {
  position: absolute;
  width: 130.73632812500045px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: luminosity;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #777777;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_2 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 15.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 15.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_8 {
  position: absolute;
  width: 130.73632812500045px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: luminosity;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #777777;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_8 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 14.25pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 14.25pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_11 {
  position: absolute;
  width: 130.73632812500045px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: luminosity;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #777777;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_11 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 15.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 15.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_12 {
  position: absolute;
  width: 130.73632812500045px;
  min-height: 35.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: luminosity;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #777777;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_12 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 14.25pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 14.25pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_31 {
  position: absolute;
  width: 100.15112705298436%;
  min-height: 100.14036209501907%;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_31 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_31 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_31 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_31 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_31 span#rtr-s-Rectangle_31_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_32 {
  position: absolute;
  width: 333.38344691514385px;
  min-height: 159.0569919419969px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 9px #EFEFEF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_32 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_32 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_32 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_32 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_32 .paddingLayer:first-child {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_32 .valign {
  vertical-align: top;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_32 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
  font-size: 18.0pt;
  line-height: 15px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Rectangle_32 span#rtr-s-Rectangle_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
  font-size: 18.0pt;
  line-height: 15px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_40 {
  position: absolute;
  width: 136.3834469151443px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px #D9D9D9);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_40 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_40 > .backgroundLayer > .colorLayer {
  background-color: #3FB1EE;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_40 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #3FB1EE;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #3FB1EE;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #3FB1EE;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #3FB1EE;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_40 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_40 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_40 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_40 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 18.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d #s-Paragraph_40 span#rtr-s-Paragraph_40_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 18.0pt;
}

#s-6874d38d-eb89-4dc9-b61d-9cbeb7d88d8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
